@charset "UTF-8";
.word-break {
    word-break: break-all;
    word-wrap: break-word;
}

.keep-word {
    white-space: nowrap;
    word-break: keep-all;
}

/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;

}

.w {
    width: 1200px;
    margin: 0 auto;
}

.pr {
    position: relative;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

html, html, body {
    color: #14191e;
}

body {
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    background-color: #ffffff;
    min-width: 1200px;
    overflow-y: scroll;
    position: relative;
}

a:link, a:visited {
    color: #14191e;
}

a:hover, a:active {
    color: #14191e;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.l {
    float: left;
}

.r {
    float: right;
}

.footer_link ul {
    overflow: hidden;
    margin-top: -1px;
}

.footer_link a:link, .footer_link a:visited, .footer_link a:active {
    color: #c8cdd2;
}

.footer_link a:hover {
    color: #fff;
}

#footer .footer_link {
    margin-bottom: 4px;
    line-height: 1.8;
}

#footer .footer_link li {
    margin-right: 30px;
    text-align: center;
    float: left;
}

/*翻页*/
.page {
    margin: 25px 0 auto;
    overflow: hidden;
    clear: both;
    text-align: center;
}

.page-inner {
    padding: 0 20px;
}

.page a {
    display: inline-block;
    margin: 0 12px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #4d555d;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.page a:hover {
    text-decoration: none;
    background-color: #d9dde1;
}

.page a.active {
    background: #4d555d;
    color: #ffffff;
}

.page a:first-child, .page a:nth-child(2), .page a:nth-last-child(2), .page a:last-child {
    width: auto;
}

.page a:first-child:hover, .page a:nth-child(2):hover, .page a:nth-last-child(2):hover, .page a:last-child:hover {
    background-color: transparent;
}

.page span, .page-disabled {
    display: inline-block;
    padding: 0 12px;
    min-width: 20px;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    color: #93999f;
    text-align: center;
}

.page-first, .page-last {
    width: 50px;
}

.page-prev, .page-next {
    width: 70px;
}

.page .notmargin {
    margin-right: 0;
}

body {
    background-color: #f3f5f7;
}

.index-list-wrap h2 {
    font-size: 24px;
    line-height: 24px;
    color: #4d555d;
    text-align: left;
    margin-bottom: 24px;
}

.index-main {
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding-bottom: 70px;
}

.screening-box {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0px 12px;
    box-sizing: border-box;
}

.screening-box .screening-time span {
    display: inline-block;
    font-size: 14px;
    color: #93999f;
    line-height: 24px;
    margin-right: 36px;
    font-weight: 200;
}

.screening-box .screening-time span a {
    color: #93999f;
}

.screening-box .screening-time span a:hover {
    color: #4d555d;
}

.screening-box .screening-time span a.on {
    color: #07111b;
}

.screening-box .screenjing-type .tool-item {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}

.screening-box .screenjing-type .tool-item .hide-learned {
    color: #787d82;
}

.index-list-wrap {
    width: 100%;
    margin: 0 auto;
}

.index-list-wrap .shizhan-course-list {
    width: 1232px;
    /*margin: -16px;*/
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap {
    position: relative;
    margin: 16px;
    width: 276px;
    height: 316px;
    box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
    transition: .3s all linear;
    border-radius: 6px;
    background: #fff;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap a {
    display: block;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap:hover {
    box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.2);
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .sales {
    position: absolute;
    padding-right: 57px;
    left: -8px;
    top: -8px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    background: #f01414;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(7, 17, 27, 0.2);
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .sales i {
    float: left;
    margin: 8px 4px 0 5px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .sales .sales-timer {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 28px;
    text-align: center;
    background: #fff;
    color: #f01414;
    border-radius: 0 5px 5px 0;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .box {
    width: 276px;
    overflow: hidden;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .img-box {
    width: 276px;
    height: 96px;
    overflow: hidden;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .img-box img {
    width: 276px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-rate {
    position: absolute;
    width: 40px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    background-color: #07111b;
    font-weight: 200;
    text-align: center;
    right: -4px;
    top: 12px;
    z-index: 1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-rate:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 4px solid #07111b;
    border-right: 4px solid transparent;
    right: 0;
    bottom: -4px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box {
    position: relative;
    width: 277px;
    height: 220px;
    background: #fff;
    padding: 22px 24px 24px;
    box-sizing: border-box;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizan-name {
    font-size: 16px;
    line-height: 28px;
    color: #07111b;
    font-weight: bold;
    letter-spacing: -0.1px;
    max-height: 56px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizan-desc {
    margin-top: 8px;
    font-size: 12px;
    line-height: 24px;
    color: #93999f;
    font-weight: 200;
    max-height: 48px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom {
    position: absolute;
    bottom: 22px;
    width: 228px;
    box-sizing: border-box;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .shizhan-info {
    font-size: 15px;
    line-height: 80px;
    color: #93999f;
    font-weight: 200;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .shizhan-info i {
    display: inline-block;
    width: 5px;
    text-align: center;
    font-weight: 400;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box {
    position: relative;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box:hover .evaluation-desc-box {
    display: block;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .stars {
    font-size: 16px;
    line-height: 100px;
    color: rgba(255, 153, 0, 0.2);
    margin-right: 0px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .stars .on {
    color: #ff9900;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box {
    display: none;
    position: absolute;
    bottom: 24px;
    width: 228px;
    padding: 16px 0px;
    background: #ff9900;
    border-radius: 4px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .trangle {
    position: absolute;
    bottom: -5px;
    left: 34px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff9900;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box p {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    font-weight: 200;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .left-box {
    width: 118px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .left-box .big-text {
    font-size: 20px;
    line-height: 20px;
    margin: 4px 0px;
    font-weight: 200;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box {
    width: 110px;
    text-align: center;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box span {
    margin-left: 4px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box p:nth-child(2) {
    margin: 8px 0px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .student-price {
    font-size: 12px;
    color: #93999F;
    line-height: 20px;
    font-weight: 200;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .student-price span {
    display: inline-block;
    font-size: 12px;
    color: rgba(240, 20, 20, 0.6);
    line-height: 20px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .shizhan-price {
    height: 20px;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .shizhan-course-price {
    text-align: right;
    font-size: 16px;
    color: #f01414;
    line-height: 20px;
    font-weight: 200;
}

.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .shizhan-discount-price {
    text-align: right;
    font-size: 12px;
    font-weight: 200;
    color: #93999f;
    line-height: 20px;
    text-decoration: line-through;
}

.index-list-wrap .no-course-box {
    padding: 120px 0px 200px;
    text-align: center;
}

.index-list-wrap .no-course-box .no-course {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #93999f;
    font-weight: 200;
}

.index-list-wrap .no-course-box a {
    font-size: 16px;
    line-height: 16px;
    color: #f01414;
}

.index-list-wrap .no-course-box a:hover {
    color: #f04646;
}

.page {
    margin-top: 0;
    padding: 25px 0 0 0;
}

@media screen and (mind-width: 800px) and (max-width: 1300px) {
    .prev_L {
        left: 10px;
    }

    .next_R {
        right: 10px;
    }
}

@media screen {
    .index-list {
        margin-right: 0;
    }
}

@media screen and (min-width: 800px) {
    body {
        min-width: 1200px;
    }

    .index-list li:nth-child(3n + 3) {
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    body {
        min-width: 800px;
    }
}

body { overflow-x: hidden; }

.cloud-banner{
    position:relative;
    margin: auto;
    width: 100%;
    height: 568px;
    overflow: hidden;
    color: #fff;
}


