<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiyuedu.core.dao.mapper.BookListMapper" >
  <resultMap id="BaseResultMap" type="com.weiyuedu.core.module.portal.pojo.BookList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="book_list_desc" property="bookListDesc" jdbcType="VARCHAR" />
    <result column="bg_picture" property="bgPicture" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, book_list_desc, bg_picture, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wyd_book_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wyd_book_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weiyuedu.core.module.portal.pojo.BookList" >
    insert into wyd_book_list (id, title, book_list_desc, 
      bg_picture, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{bookListDesc,jdbcType=VARCHAR}, 
      #{bgPicture,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weiyuedu.core.module.portal.pojo.BookList" >
    insert into wyd_book_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="bookListDesc != null" >
        book_list_desc,
      </if>
      <if test="bgPicture != null" >
        bg_picture,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="bookListDesc != null" >
        #{bookListDesc,jdbcType=VARCHAR},
      </if>
      <if test="bgPicture != null" >
        #{bgPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weiyuedu.core.module.portal.pojo.BookList" >
    update wyd_book_list
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bookListDesc != null" >
        book_list_desc = #{bookListDesc,jdbcType=VARCHAR},
      </if>
      <if test="bgPicture != null" >
        bg_picture = #{bgPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weiyuedu.core.module.portal.pojo.BookList" >
    update wyd_book_list
    set title = #{title,jdbcType=VARCHAR},
      book_list_desc = #{bookListDesc,jdbcType=VARCHAR},
      bg_picture = #{bgPicture,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllBookList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM wyd_book_list
  </select>
</mapper>