<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--扫描包加载service实现类-->
    <context:component-scan base-package="com.weiyuedu.core.module.portal.service"></context:component-scan>

    <!--Spring全局异常处理对象-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 定义默认的异常处理页面，当该异常类型的注册时使用 -->
        <property name="defaultErrorView" value="error"></property>
        <!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
        <property name="exceptionAttribute" value="ex"></property>
        <!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 -->
        <property name="exceptionMappings">
            <props>
                <prop key="com.weiyuedu.core.exception.BusinessException">error-business</prop>
                <prop key="com.weiyuedu.core.exception.ParameterException">error-parameter</prop>
                <!-- 这里还可以继续扩展对不同异常类型的处理，自定义异常类需要实现HandlerExceptionResolver接口，异常数据以及对应的异常页面 -->
            </props>
        </property>
    </bean>
</beans>